name: GithubCI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Current time
      run: date

    - name: Command
      run: |
         java --version
         mvn package --settings travis/settings.xml



